* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --title-color: #333;
  --body-colour: #696969;
  --background-color: #eee;
  --foreground-color: #fff;
  --blend-mode: normal;
  --font-family: "Rubik Glitch", cursive;
}
.dark-theme {
  --title-color: #fff;
  --body-colour: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --blend-mode: lighten;
}
.toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  border: 1px solid var(--body-colour);
  display: flex;
  cursor: pointer;
  z-index: 9999;
}
html,
body {
  font-family: "Rubik Glitch", cursive;
}
.toggle-btn i {
  margin: auto;
  font-size: 1rem;
  color: var(--body-colour);
}
nav {
  font-size: 20px;
  background-color: transparent;
}
nav ul {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
nav ul li {
  padding: 20px;
  list-style: none;
}
li a:hover{
  text-decoration: underline;
  text-decoration-color: #181621;
}
a {
  text-decoration: none;
  color: var(--body-colour);
}

body {
  /* background-color: var(--foreground-color); */
  background-size: cover;
  /* transition: background-color 1s, color 1s; */
  background-image: url(/img/coffee_shop.jpg);
}
.hero {
  text-align: center;
  margin-top: 15rem;
}
.hero h1 {
  font-size: 3rem;
  color: var(--background-color);
}
.hero input {
  padding: 15px 35px;
  border: 0;
  font-size: 18px;
  font-family: var(--font-family);
  margin-top: 2rem;
  background-color: #181621;
  color: var(--body-colour);
  opacity: 0.85;
}
.btn:hover{
  cursor: pointer;
  opacity: 5;
}

