* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --title-color: #333;
  --body-colour: #696969;
  --background-color: #eee;
  --foreground-color: #fff;
  --blend-mode: normal;
  --font-family: "Rubik Glitch", cursive;
}
.dark-theme {
  --title-color: #fff;
  --body-colour: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --blend-mode: lighten;
}
.toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  border: 1px solid var(--body-colour);
  display: flex;
  cursor: pointer;
  z-index: 9999;
}
html,
body {
  font-family: "Rubik Glitch", cursive;
}
li {
  list-style: none;
}
.toggle-btn i {
  margin: auto;
  font-size: 1rem;
  color: var(--body-colour);
}
nav {
  font-size: 20px;
  background-color: transparent;
  position: fixed;
  padding: 10px;
}
nav ul {
  display: flex;
  justify-content: left;
  align-items: left;
}
nav ul li {
  margin-right: 45px;
}
a {
  text-decoration: none;
  color: var(--body-colour);
}

body {
  background-size: cover;
}
main{
  /* max-width: 1100px; */
}
#home {
  background-image: url(/img/coffee_shop.jpg);
  background-size: cover;
  height: 700px;
}
.hero {
  text-align: center;
  border: 0;
}

.hero h1 {
  font-size: 3rem;
  color: var(--background-color);
}
.btn {
  padding: 20px 10px;
  border: 0;
  font-size: 18px;
  font-family: var(--font-family);
  margin-top: 2rem;
  background-color: black;
  letter-spacing: 1.5px;
  color: var(--body-colour);
  opacity: 0.85;
}

.btn:hover {
  cursor: pointer;
  opacity: 5;
}
#time-btn {
  padding: 5px;
}
/* menu section */
#menu {
  background-color: #ccbf7394;
  padding: 10px 0px;
}
.menu-heading {
  text-align: center;
  font-size: 2.5rem;
}
.container {
  margin: 20px auto;
  border: 1px solid black;
  width: 50%;
  border-radius: 5px;
  background-color: #eee;
}
.card {
  background-color: #0a090c;
  padding: 15px;
}
.card ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card ul li {
  border: 1px solid #0a090c;
}
.card ul li a {
  font-size: 16px;
}
.box {
  padding: 10px;
}
.item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.price-btn {
  padding: 8px;
  background-color: var(--title-color);
  border: 0;
  color: #eee;
  border-radius: 6px;
  opacity: 0.8;
}
.price-btn:hover {
  opacity: 6;
  cursor: pointer;
}
.content {
  border-bottom: 1px solid black;
  padding: 10px 0;
}
/* styling the contact */
#contact {
  background-color: #b68585;
}
.contact-container {
  margin: 0 auto;
  width: 70%;
  padding: 20px 0;
}
.contact-container h3 {
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 18px 10px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 5px;
}
textarea {
  width: 100%;
  resize: none;
  height: 150px;
  padding: 15px;
  background-color: #eee;
  margin-top: 10px;
}
