*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}:root {
  --title-color: #333;
  --body-colour: #696969;
  --background-color: #eee;
  --foreground-color: #fff;
  --blend-mode: normal;
}
.dark-theme {
  --title-color: #fff;
  --body-colour: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --blend-mode: lighten;
}
.toggle-btn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  border: 1px solid var(--body-colour);
  display: flex;
  cursor: pointer;
  z-index: 9999;
}
.toggle-btn i {
  margin: auto;
  font-size: 1rem;
  color: var(--body-colour);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--foreground-color);
  background-size: cover;
  font-family: monospace;
  transition: background-color 1s, color 1s;
}
.loginbox {
  width: 370px;
  height: 420px;
  background: transparent;
  color: var(--title-color);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  transition: background-color 1s;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
img {
  background-color: var(--background-color);
}
h1 {
  margin: 20px;
  padding: 0 0 2px;
  text-align: center;
  font-size: 18px;
}
.loginbox label {
  margin: 0;
  padding: 0;
  font-weight: 100%;
  font-size: 20px;
  display: block;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid var(--title-color);
  background: transparent;
  outline: none;
  height: 40px;
  color: var(--title-color);
  font-size: 15px;
  letter-spacing: 1px;
  display: block;
}
small {
  margin-top: 0;
}
input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #008000;
  font-size: 18px;
  color: var(--title-color);
  border-radius: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.loginbox a:hover {
  color: #dfebde;
}
a {
  text-decoration: none;
  color: #7da5ac;
}
p {
  display: block;
  padding: 0;
  margin-top: -5px;
  text-align: center;
}
